<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>學生論證系統</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

<!--
admin: Gavin  
contact mail: gavin19950511@gmail.com
create time: 2018.03



#########################################################################################################################

Hello,我是王君善 (Gavin)

是一名軟體工程師。

就讀於國立中央大學 網路學習科技研究所

已有四年的網頁與軟體應用系統之建置經驗，透過經驗分享和需求訪談，我已經幫助許多團隊進行資訊技術諮詢並引進新穎的科技技術。

目前個人以Python與tensorflow機器學習框架為主要研究方向，個人對於新領域的學習速度很快，對於不熟悉的工作內容也不會排斥，包含PHP、node.js、Jquery、APP(Android\Swift)等等皆有涉獵相關專案。

Myself website:https://studentcodebank.wordpress.com/


#########################################################################################################################
-->