<div class="container">
    <nav class="pull-left">
        <ul>
            <li>
                <a href="#">
                Home
            </a>
            </li>
            <li>
                <a href="http://ytwu.lst.ncu.edu.tw/wu/ch/">
               About us</a>
            </li>
            <li>
                <a href="#">
               Blog
            </a>
            </li>
            <li>
                <a href="#">
                Licenses
            </a>
            </li>
        </ul>
    </nav>
    <div class="copyright pull-right">
        &copy; 2018, made with <i class="fa fa-terminal"></i> Nodejs by Theta for argument system in WuRET.
    </div>
</div>