<!doctype html>
<html lang="en">

<head>
    <%- include ../argument/import/basic.html %>
    <%- include ../argument/import/templete_css.html %>
</head>

<body class="index-page">
    <header>
        <%- include ../argument/bar/header.html %>
    </header>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1>Co-Argu System</h1>
                            <h3>Let's discuss online together</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section section-basic">
                <!--Main contant -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="min-height: 100px;">
                            <button class="btn btn-primary" onclick="javascript:location.href='./sittingPage'">回到個人主頁</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="height: 500px;">
                            <div id="basic_data" style="height: 40%;margin-bottom: 10px;">
                                <h4>活動基本資料</h4>
                            </div>
                            <div id="memberOfActivity" style="background-color: #ccc;height: 50%;overflow: scroll;">
                                <h4 for="memberOfActivity" style="color: #EEE;">參加學生</h4>
                            </div>
                        </div>
                        <div class="col-md-6" style="height: 500px;border-left: 1px #ccc solid;">
                            <h4>已建立之前測題目（取最新新增之至多五題前測）</h4>
                            <button class="btn btn-primary" onclick="javascript:location.href='./newassessment'">建立前測問題</button>
                            <div id="qusetions" class=""></div>
                        </div>
                    </div>
                    <div id="Room_Sets" class="row" style="min-height: 500px;">
                        <div class="col-md-12">
                            <h4>分房情況</h4>
                            <button class="btn btn-primary" onclick="javascript:location.href='./SendTesterToChatroom'">安排學生至活動聊天室</button>
                        </div>
                        <div id="non-room" class="col-md-2" style="border: 1px #ccc solid;margin:10px;">
                            <h4 >尚未分房</h4>
                        </div>
                    </div>
                </div>
                <!--/ Main contant -->
            </div>
        </div>
        <footer>
            <%- include ../argument/bar/footer.html %>
        </footer>
    </div>
</body>
<%- include ../argument/import/templete_js.html %>

<script type="text/javascript">
$().ready(function() {
    // the body of this function is in assets/material-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992) {
        big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo.checkScrollForParallax);
    }

});
$.get("./activity", {},
    function(data1, status) {
        activity_list = JSON.parse(data1);
        console.log(activity_list);
        for (var i in activity_list['return']) {
            i_aid = activity_list['return'][i]['avtivity_id'];
            if (i_aid == '<%=a_id%>') {
                $('#basic_data').append('<p>活動主題:</p>');
                $('#basic_data').append('<p style="max-height:30%;overflow: auto;">' + activity_list['return'][i]['content'] + '</p>');
                $('#basic_data').append('<p>活動時間: ' + activity_list['return'][i]['timeofactivity'] + '</p>');
                $('#basic_data').append('<p>活動TAG: ' + activity_list['return'][i]['unicode'] + '</p>');

            }

        }



    }
);
$.get("./assessment", {
        "a_id": '<%=a_id%>'

    },
    function(data, status) {
        activity_list = JSON.parse(data);
        console.log(activity_list);

        var index = 1;
        for (var g in activity_list['return']) {

            content = activity_list['return'][g]['content'];
            $('#qusetions').append('<div id="q' + g + '" class="col-sm-12"></div>');
            $('#q' + g).append('<div class="title"><h3>Q' + index + '. ' + content + ' </h3></div>');
            index += 1;

        }
        if (activity_list['return'].length < 1) {
            $('#qusetions').append('<div id="q' + g + '" class="col-sm-12"></div>');
            $('#q' + g).append('<div class="title"><h3>尚未建立前測</h3></div>');
        }


    }
);

$.get("./user/subuser", {},
    function(data1, status) {
        activity_list = JSON.parse(data1);
        console.log(activity_list);
        subuser_public = activity_list['return'];
        console.log(subuser_public);
        getPublic(subuser_public);



    }
);

function getPublic(subuser_public) {
    $.get("./tester", {
            "a_id": '<%=a_id%>'
        },
        function(data2, status) {
            tester_list = JSON.parse(data2);
            console.log(tester_list);
            console.log(subuser_public);
            var RoomID = [];
            RoomID.push('39');

            if (tester_list['return'].length < 1) {
                alert("no testing");
            }
            var idx =1;
            for (var g in tester_list['return']) {
                var uid = tester_list['return'][g]['user_id'];
                var u_rid = tester_list['return'][g]['chatroom_id'];

                
                for (var fetch in subuser_public) {
                    f_uid = subuser_public[fetch]['user_id'];
                    if (f_uid == uid) {
                        
                        $('#memberOfActivity').append('<p>' +idx+","+ subuser_public[fetch]['name'] + ',' + subuser_public[fetch]['school'] + '</p>');
                        idx +=1;



                        if (u_rid == '-1') {
                            $('#non-room').append('<h6>' + subuser_public[fetch]['name'] + ',' + subuser_public[fetch]['school'] + '</h6>');
                        }else if(!RoomID.includes(u_rid)){
                            RoomID.push(u_rid);
                            $('#Room_Sets').append('<div id="'+u_rid+'-room" class="col-md-2" style="border: 1px #ccc solid;margin:10px;"><h4>Room</h4></div>');
                            $('#'+u_rid+'-room').append('<h6>' + subuser_public[fetch]['name'] + ',' + subuser_public[fetch]['school'] + '</h6>');
                        }else{
                            //console.log(u_rid);
                            $('#'+u_rid+'-room').append('<h6>' + subuser_public[fetch]['name'] + ',' + subuser_public[fetch]['school'] + '</h6>');

                        }
                    }


                }
            }
        }
    );
}
</script>

</html>