<!doctype html>
<html>

<head>
    <%- include ../argument/import/basic.html %>
    <%- include ../argument/import/templete_css.html %>
    <!--cheditor-->
    <script src="./assets/js/ckeditor/ckeditor.js"></script>
    <style>
    #chat_input {
        padding: 3px;
        bottom: 0;
        width: 100%;
    }

    #chat_input input {
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    #chat_input button {
        width: 9%;
        border: none;
        padding: 10px;
    }

    .row-searchbar {
        padding: 3px;
        bottom: 0;
        width: 100%;
    }

    .row-searchbar input {
        padding: 10px;
        width: 60%;
        margin-right: .5%;
    }

    .row-searchbar button {
        width: 20%;
        padding: 10px;
    }

    #noteform {
        background: #000;
        padding: 3px;
        bottom: 0;
        width: 100%;
    }

    #noteform input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    #noteform button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

    #mess_bar {
        border: 3px #cccccc solid;
        height: 300px;
        overflow: scroll;
        padding: 0;
        padding-top: 5px;
        list-style-type: none;
        margin: 0;
    }

    .chat_message {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .chat_message {
        padding: 5px 10px;
        text-align: left;
    }

    .chat_message:nth-child(odd) {
        background: #eee;
    }

    #note_bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #note_bar li {
        padding: 5px 10px;
        text-align: left;
    }

    #note_bar li:nth-child(odd) {
        background: #eee;
    }

    #draggable {
        width: 50%;
        height: 500px;
        padding: 0.5em;
        background: #eee;
    }

    .errortxt {
        color: rgb(255, 0, 0)
    }
    </style>
</head>

<body class="index-page">
    <header>
    </header>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg'); min-height:190px;height:0px;">
            <div class="container">
            </div>
        </div>
        <div class="main main-raised">
            <div class="">
                <div class="">
                    <!-- Tabs with icons on Card -->
                    <div class="card card-nav-tabs">
                        <div class="header header-primary">
                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#chatroom" id="chat_opener" data-toggle="tab">
                                                    <i class="material-icons">chat</i>
                                                    論證
                                                </a>
                                        </li>
                                        <li>
                                            <a href="#search" id="search_opener" data-toggle="tab">
                                                    <i class="material-icons">search</i>
                                                    搜尋資料
                                                </a>
                                        </li>
                                        <li>
                                            <a href="#note" id="note_opener" data-toggle="tab">
                                                    <i class="material-icons">note_add</i>
                                                    筆記
                                                </a>
                                        </li>
                                        <li>
                                            <a href="#sub_windows_opener" id="sub_windows_opener" data-toggle="tab">
                                                    <i class="material-icons">add</i>
                                                    子視窗
                                                </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="chatroom">
                                    <div class="title">
                                        <h4 id="info" style="text-align: left;">
                                              <%=title%><%=room%>
                                            </h4>
                                        <h2>
                                            <p style="text-align: left;">
                                                <br> 題目：
                                                <br>
                                            </p>

                                        <blockquote>
                                            <p id='Topic_content' class="text-left">
                                                <%=t_con%>
                                            </p>
                                        </blockquote></h2>
                                    </div>
                                    <div id='chatroom-board'>
                                        <ul id="mess_bar"></ul>
                                        <div class="container" style="margin: 0;margin-top:10px;padding: 0;">
                                            <div id="option-left" style="width: 48%;float: left;">
                                                <label for="speech_type" style="float: left;padding-right: 5px;">發言目的</label>
                                                <select id="speech_type" style="float: left;">
                                                <!--
                                                    <option id="not_choose_type" value="none" selected="selected">請選擇...</option>
                                                    <option value="提出新想法">提出新想法</option>
                                                    <option value="反對對方意見">反對對方意見</option>
                                                    <option value="贊同對方意見">贊同對方意見</option>
                                                    <option value="發表論述">發表論述</option>
                                                -->
                                                </select>
                                                <select id="hello_speech" style="float: left;">
                                                </select>
                                            </div>
                                            <div id="option-right" style="width: 48%;float: right;">
                                                <div style="float: right;width: 100%">
                                                    <button id='change_color_code_handler' class="btn btn-primary" onclick="change_color_code();" style="float:right;margin-top: 0px;">
                                                        <i class="material-icons">autorenew</i>
                                                    </button>
                                                    <div id="user_text_color" style="width: 20px;height: 20px;background-color: #000000;margin-top: 0px;margin-bottom: 10px;margin-left: 10px;margin-right: 10px;float: right;">
                                                    </div>
                                                    <label for="user_text_color" style="float: right;">更換字體顏色</label>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <form id="chat_input">
                                            <div class="container" style="margin: 0;padding: 0;">
                                                <h5 id="Alert_text" class="errortxt" style="text-align: left;"></h5>
                                            </div>
                                            <div style="width: 100%;">
                                                <input id="m" autocomplete="off" placeholder="說點什麼吧...." />
                                                <button id="Send" class="btn btn-primary">送出</button>
                                            </div>
                                        </form>
                                        <div id='toolbar' class="col-md-12" style="text-align: left; background-color: #EEE;margin-bottom: 5px;" hidden>
                                            <p>
                                                <label for="toolbar">發言工具</label>
                                            </p>
                                            <div id="sample_opener" style="float: left;width: 30%">
                                                <label for="sample_opener" style="width: 100%;">範例發文</label>
                                                <button id='' style="float: left; width: 100%;" class="btn btn-primary" onclick="openerText('我認為');">我認為...</button>
                                                <button id='' style="float: left;width: 100%;" class="btn btn-primary" onclick="openerText('我覺得你沒有考慮到');">我覺得你沒有考慮到...</button>
                                                <button id='' style="float: left;width: 100%;" class="btn btn-primary" onclick="openerText('你說的很好，但是');">你說的很好，但是...</button>
                                                <button id='' style="float: left;width: 100%;" class="btn btn-primary" onclick="openerText('換個角度想，有沒有可能');">換個角度想，有沒有可能...</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="note">
                                    <form action="" id="note_form" method="post" enctype="multipart/form-data">
                                        <textarea id="editor" class="ckeditor" name="editor"></textarea>
                                        <!--<input type="button" value="送出" onclick="processData()">-->
                                    </form>
                                </div>
                                <div class="tab-pane" id="search">
                                    <p>關鍵字搜尋</p>
                                    <div class="row" style="min-height:400px;">
                                        <div class="col-md-3">
                                            <div class="row-searchbar">
                                                <input id="keywords_input" autocomplete="off" /></input>
                                                <button id="search_Doc_button" class="btn btn-primary" onclick="searchkeword();">go</button>
                                            </div>
                                            <div id="search-result"></div>
                                        </div>
                                        <iframe id="insertweb" class="col-md-9" style="height:-webkit-fill-available" src=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tabs with icons on Card -->
                </div>
            </div>
            <!--container end-->
        </div>
    </div>
    </div>
    </div>
    <!--dialog start-->
    <div id="sub_windows" title="子視窗"></div>
    <!--dialog end-->
    <footer>
        <%- include ../argument/bar/footer.html %>
    </footer>
</body>
<script src="./socket.io/socket.io.js"></script>
<%- include ../argument/import/jq_offical.html %>
</script>
<script>
var pathArray = window.location.pathname.split('/');
var socket = io({
    path: './' + pathArray[1] + '/socket.io'
});
var room_ID = '<%=room%>';
var UserName = "";
color_code = '#FF0000';

function change_color_code() {

    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    color_code = color;
    $('#user_text_color').css("background-color", color);
}
change_color_code();

$("#speech_type").change(function() {
    var value_of_speech_type = $("#speech_type").val();
    if (value_of_speech_type == "提出論點或證據") {
        $("#hello_speech").html('<option value="" selected="selected">空白（不使用提示語）</option><option value="我認為">我認為...</option><option value="讓我解釋">讓我解釋...</option><option value="讓我進一步仔細說明">讓我進一步仔細說明...</option><option value="讓我舉例說明">讓我舉例說明...</option><option value="讓我提出證據">讓我提出證據...</option>');
    }
    if (value_of_speech_type == "提出疑問") {
        $("#hello_speech").html('<option value="" selected="selected">空白（不使用提示語）</option><option value="你說的是不是">你說的是不是...</option><option value="你為什麼會認為">你為什麼會認為...</option><option value="你能不能進一步仔細說明">你能不能進一步仔細說明...</option><option value="你能不能舉例說明">你能不能舉例說明...</option><option value="我們是不是需要更多的證據去">我們是不是需要更多的證據去...</option>');
    }
    if (value_of_speech_type == "提出挑戰") {
        $("#hello_speech").html('<option value="" selected="selected">空白（不使用提示語）</option><option value="我不同意你的論點，因為">我不同意你的論點，因為...</option><option value="你的論點與討論主題的相關性是">你的論點與討論主題的相關性是？….</option><option value="我所提出的反論點是">我所提出的反論點是...</option><option value="我所提出不同面向的觀點是">我所提出不同面向的觀點是...</option><option value="你可以提出相關證據嗎？">你可以提出相關證據嗎？</option><option value="你提出的證據可信度有多高？">你提出的證據可信度有多高？</option>');
    }
    if (value_of_speech_type == "推理或歸納") {
        $("#hello_speech").html('<option value="" selected="selected">空白（不使用提示語）</option><option value="經由推論可以得知">經由推論可以得知...</option><option value="綜合來說...">綜合來說...</option><option value="我認為(論點)在什麼條件下可以成立">我認為(論點)在什麼條件下可以成立...</option><option value="你的前提或假設是不是">你的前提或假設是不是?……</option><option value="我認為你提出的論點意味著">我認為你提出的論點意味著...</option>');
    }
    if (value_of_speech_type == "表達同意或支持") {
        $("#hello_speech").html('<option value="" selected="selected">空白（不使用提示語）</option><option value="我同意你的看法，因為">我同意你的看法，因為...</option><option value="我同意你的說法，而且">我同意你的說法，而且...</option><option value="我認為你的論述並不正確">我認為你的論述並不正確</option><option value="我懂你的觀點">我懂你的觀點...</option><option value="你的觀點沒錯">你的觀點沒錯！</option><option value="這個觀點很棒！">這個觀點很棒！</option>');
    }
    if (value_of_speech_type == "其他") {
        $("#hello_speech").html('<option value="" selected="selected">其他</option>');
    }
});
$("#hello_speech").change(function() {
    var value_of_hello_speech = $("#hello_speech").val();
    openerText(value_of_hello_speech);
});

function openerText(text) {
    var newText = text; //+ $('#m').val();
    console.log(newText);
    $('#m').val(newText);
}

function reset_speech_type() {
    $("#speech_type").html(' <option id="not_choose_type" value="none" selected="selected">請選擇...</option><option value="提出論點或證據">提出論點或證據</option><option value="提出疑問">提出疑問</option><option value="提出挑戰">提出挑戰</option><option value="推理或歸納">推理或歸納</option><option value="表達同意或支持">表達同意或支持</option><option value="其他">其他</option>');

}
reset_speech_type()
$('form').submit(function() {
    if ($("#speech_type").val() == "none") {
        //alert("請選擇發言目的");
        $('#m').addClass("errortxt");
        $('#Alert_text').html("請選擇發言目的");
    } else if ($("#m").val() == "") {
        //alert("請先輸入發言");
        $('#m').addClass("errortxt")
        $('#Alert_text').html("請先輸入發言");

    } else {
        $('#m').removeClass("errortxt");
        $('#Alert_text').html("");
        var speech_text = '[' + $("#speech_type").val() + ']  ' + $('#m').val();
        console.log(speech_text);
        if ($('.sub-window_mode_of_message').length) {
            SendActionToSql(speech_text, '11');
        } else if ($('.sub-window_mode_of_note').length) {
            SendActionToSql(speech_text, '12');
        } else if ($('.sub-window_mode_of_search').length) {
            SendActionToSql(speech_text, '14');
        } else {
            SendActionToSql(speech_text, '1');
        }
        speech_text = UserName + ': ' + speech_text;
        socket.emit('Push_message', speech_text, room_ID, color_code);

        reset_speech_type();
        $('#m').val("");
        $("#Send").attr("disabled",true);
        $('#Send').html("10秒後即可發言");
        setTimeout(function(){
            $("#Send").attr("disabled",false);
            $('#Send').html("送出");
        },10000);
    }
    return false;
});

socket.on(room_ID + '_upload_message', function(msg, color_code) {
    $('#mess_bar').append($('<li class="chat_message" style="color:' + color_code + ';">').text(msg));
    
    var gotoH = $('#mess_bar').prop("scrollHeight");
    $("#mess_bar").scrollTop(gotoH);


});
</script>
<script>
sub_windows_click_last_time = '1000-01-01 00:00:00';

function SendActionToSql(Sentcontent, ad) {
    var f_Sentcontent = wordsfilter(Sentcontent);
    var last_time;
    if (sub_windows_click_last_time != '1000-01-01 00:00:00') {
        last_time = sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false });
    } else {
        last_time = sub_windows_click_last_time;
    }
    $.post("./action", {
            ad_id: ad,
            t_id: <%=t_id%>,
            content: f_Sentcontent,
            l_t: last_time
        },
        function(data, status) {
            console.log(status);
        }
    );

}
</script>
<%- include ../argument/import/templete_js.html %>

<script type="text/javascript">
$.get("./user/public_data", {
        "mail": "<%=UserName%>"
    },
    function(data, status) {
        References_list = JSON.parse(data);
        console.log(References_list['text']);
        UserName = References_list["return"][0]["name"];
        $('#info').append('<p>使用者名稱: ' + UserName + '</p>');

        speech_text = UserName + ' login.';
        socket.emit('Push_message', speech_text, room_ID, color_code);

    }
);


$().ready(function() {
    // the body of this function is in assets/materiial-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992) {
        big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo_mini.checkScrollForParallax);
    }


});
function GetReferences(keywords) {
    $.get("./References?keywords=" + keywords,
        function(data, status) {
            References_list = JSON.parse(data);
            console.log(References_list['text']);
            $('.links').remove();
            if(References_list["return"].length<1){
                htmltext = '<h3 class="links">沒有相關資料</h3>';
                $('#search-result').append(htmltext);
            }
            for (var i = 0; i < References_list["return"].length; i++) {
                //htmltext = '<option value="'+activity_list["return"][i]["topic_id"]+'">'+activity_list["return"][i]["content"]+'</option>'
                htmltext = '<blockquote class="links"><button style="width: -webkit-fill-available;"onclick="rediract(\'' + References_list["return"][i]["link"] + '\',\'' + References_list["return"][i]["title"] + '\');" class="btn btn-info">' + References_list["return"][i]["title"] + '</button><small class = "text-right">' + References_list["return"][i]["memo"] + '</small></blockquote>';
                $('#search-result').append(htmltext);

            }
            $("#search_Doc_button").attr("disabled",false);
            $('#search_Doc_button').html("GO");
            /*
            $('#TopicID').append('<optgroup id="HotTopic" label="Hot Topic">');
            htmltext = '<option value="10">厭世的人其實是先扭曲的自己的心靈，來防禦自己不受到傷害。</option>'
            $('#HotTopic').append(htmltext);
            htmltext = '<option value="20">實作學習</option>'
            $('#HotTopic').append(htmltext);  */
            

        }
    );

}
$('#insertweb').attr("src", 'http://ytwu.lst.ncu.edu.tw/wu/ch/');

function rediract(link, title) {
    $('#insertweb').attr("src", link);

    if ($('.sub-window_mode_of_message').length) {
        SendActionToSql(title, '41');
    } else if ($('.sub-window_mode_of_note').length) {
        SendActionToSql(title, '42');
    } else if ($('.sub-window_mode_of_search').length) {
        SendActionToSql(title, '44');
    } else {
        SendActionToSql(title, '4');
    }
}

function searchkeword() {
    $("#search_Doc_button").attr("disabled",true);
    $('#search_Doc_button').html("搜尋中.....");
    setTimeout(function(){
            $("#search_Doc_button").attr("disabled",false);
            $('#search_Doc_button').html("GO");
        },10000);

    var keyval = $('#keywords_input').val();
    keyval = wordsfilter(keyval);
    //console.log(keyval);

    if ($('.sub-window_mode_of_message').length) {
        SendActionToSql(keyval, '31');
    } else if ($('.sub-window_mode_of_note').length) {
        SendActionToSql(keyval, '32');
    } else if ($('.sub-window_mode_of_search').length) {
        SendActionToSql(keyval, '34');
    } else {
        SendActionToSql(keyval, '3');
    }
    $('.links').remove();
    GetReferences(keyval);

}
</script>
    <%- include ../argument/import/jq_offical.html %>

<script>
$(function() {
    $("#sub_windows").dialog({
        autoOpen: false,
        resizable: true,
        height: "auto",
        width: 'auto',
        modal: false,
        buttons: {

            "論證": function() {
                $("#sub_windows_contain").remove();
                $(this).append('<div id="sub_windows_contain"></div>');
                $("#sub_windows_contain").addClass("sub-window_mode_of_message");
                $(".chat_message_in_sub_windows").remove();
                ////initail end.
                $('.chat_message').clone().addClass("chat_message_in_sub_windows").appendTo("#sub_windows_contain");

                ///last exe time
                sub_windows_click_last_time = new Date(Date.now());
                console.log(sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false }));

                $('#sub_windows_contain').click(function() {
                    sub_windows_click_last_time = new Date(Date.now());
                    console.log(sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false }));
                });
            },
            "筆記": function() {
                $("#sub_windows_contain").remove();
                $(this).append('<div id="sub_windows_contain"></div>');
                $("#sub_windows_contain").addClass("sub-window_mode_of_note");
                $(".note_in_sub_windows").remove();
                ////initail end.
                var text = CKEDITOR.instances.editor.getData();
                $('<p>' + text + '</p>').addClass("note_in_sub_windows").appendTo("#sub_windows_contain");

                ////last exe time
                sub_windows_click_last_time = new Date(Date.now());
                console.log(sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false }));

                $('#sub_windows_contain').click(function() {
                    sub_windows_click_last_time = new Date(Date.now());
                    console.log(sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false }));
                });
            },
            "搜尋資料": function() {
                $("#sub_windows_contain").remove();
                $(this).append('<div id="sub_windows_contain"></div>');
                $("#sub_windows_contain").addClass("sub-window_mode_of_search");
                $(".search_in_sub_windows").remove();
                ////initail end.
                $('#insertweb').clone().removeClass('col-md-9').addClass("search_in_sub_windows").css({ "width": "-webkit-fill-available" }).appendTo("#sub_windows_contain");

                ////last exe time
                sub_windows_click_last_time = new Date(Date.now());
                console.log(sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false }));

                $('#sub_windows_contain').click(function() {
                    sub_windows_click_last_time = new Date(Date.now());
                    console.log(sub_windows_click_last_time.toLocaleString('zh-TW', { hour12: false }));
                });
            }
        },
        open: function(event, ui) {
            $(".ui-dialog-buttonpane").insertBefore($("#sub_windows")); //add to upper block;
            $(".ui-dialog-buttonset").css("float", "left");
            $(".ui-dialog-buttonset button").addClass('btn btn-primary');
            $(".ui-dialog-titlebar ").css('background', 'linear-gradient(60deg, #ab47bc, #7b1fa2)');
            $(".ui-dialog-titlebar ").css('color', '#FFFFFF');
            $('<button id="new-close-button" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="material-icons">clear</i></span></button>').insertBefore($(".ui-dialog-titlebar-close"));
            $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); //hide default close button of right-top.
            $('#new-close-button').click(function() {
                $("#sub_windows_contain").remove();
                $("#new-close-button").remove();
                $("#sub_windows").dialog("close");
            });
            $(this).append('<div id="sub_windows_contain">請從上列選單中選擇一種子視窗模式，點擊後即刷新子視窗。</div>');

        },
        close: function(event, ui) {
            $("#sub_windows_contain").remove();

        }

    });

    $("#sub_windows_opener").on("click", function() {
        $("#sub_windows").dialog("open");

    });

});
</script>
<script type="text/javascript">
note_handler = 0;
$("#note_opener").on("click", function() {
    note_handler = 1;

});
$("#chat_opener").on("click", function() {
    if (note_handler == 1) {
        var CKEDITORtext = CKEDITOR.instances.editor.getData();
        var NOTE_text = wordsfilter($(CKEDITORtext).text());
        if ($('.sub-window_mode_of_message').length) {
            SendActionToSql(NOTE_text, '21');

        } else if ($('.sub-window_mode_of_note').length) {
            SendActionToSql(NOTE_text, '22');
        } else if ($('.sub-window_mode_of_search').length) {
            SendActionToSql(NOTE_text, '24');
        } else {
            SendActionToSql(NOTE_text, '2');
        }

    }
    //initial
    note_handler = 0;
});
$("#search_opener").on("click", function() {
    if (note_handler == 1) {
        var CKEDITORtext = CKEDITOR.instances.editor.getData();
        var NOTE_text = wordsfilter($(CKEDITORtext).text());

        if ($('.sub-window_mode_of_message').length) {
            SendActionToSql(NOTE_text, '21');

        } else if ($('.sub-window_mode_of_note').length) {
            SendActionToSql(NOTE_text, '22');
        } else if ($('.sub-window_mode_of_search').length) {
            SendActionToSql(NOTE_text, '24');
        } else {
            SendActionToSql(NOTE_text, '2');
        }
    }
    //initial
    note_handler = 0;
});
function wordsfilter(source){
    //return source;
    return source.replace(/\'/g,'"');

}


</script>
<script>
CKEDITOR.replace('editor', {});
</script>

</html>