<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Chatroom</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/material-kit.css" rel="stylesheet"/>

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="assets/css/demo.css" rel="stylesheet" />
    <style>
        form { background: #000; padding: 3px; bottom: 0; width: 100%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #noteform { background: #000; padding: 3px; bottom: 0; width: 100%; }
        #noteform input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        #noteform button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #mess_bar { list-style-type: none; margin: 0; padding: 0;    }
        #mess_bar li { padding: 5px 10px;text-align: left; }
        #mess_bar li:nth-child(odd) { background: #eee; }
        #note_bar { list-style-type: none; margin: 0; padding: 0;    }
        #note_bar li { padding: 5px 10px;text-align: left; }
        #note_bar li:nth-child(odd) { background: #eee; }
        #draggable { width: 50%; height: 500px; padding: 0.5em;background: #eee; }
        #errortxt{color:rgb(255,0,0)}
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }

    </style>
  </head>
<body class="index-page">

<!-- Navbar -->
    <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	    <div class="container">
            <div class="navbar-header">
	        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	        	</button>
				<a href="#">
	            	<div class="logo-container">
	                    <div class="logo">
	                        <img src="assets/img/logo.png" alt="site Logo" rel="tooltip" title="logo" data-placement="bottom" data-html="true">
	                    </div>
	                    <div class="brand">
                            Argument Sys 
	                    </div>


				    </div>
	          	</a>
	        </div>

	        <div class="collapse navbar-collapse" id="navigation-index">
	        	<ul class="nav navbar-nav navbar-right">
				    <li>
					    <a href="#" target="_blank">
						    <i class="material-icons">person_add</i> Sign up
					    </a><!--https://material.io/icons/-->
				    </li>
				    <li>
					    <a href="#" target="_blank">
						    <i class="material-icons">group_add</i> For Group
					    </a>
				    </li>
				    <li>
					    <a rel="tooltip" title="About ours" data-placement="bottom" href="#" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						    <i class="fa fa-info-circle"></i><!--http://fontawesome.io/icons/-->
					    </a>
				    </li>
				    <li>
					    <a rel="tooltip" title="Contact ours" data-placement="bottom" href="#" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						    <i class="fa fa-question-circle"></i>
					    </a>
				    </li>
				    <li>
					    <a rel="tooltip" title="Sitting" data-placement="bottom" href="#" target="_blank" class="btn btn-white btn-simple btn-just-icon">
						    <i class="fa fa-cog"></i>
					    </a>
				    </li>

	        	</ul>
	        </div>
	    </div>
    </nav>
<!-- End Navbar -->    




<div class="wrapper">
    <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg'); min-height:190px;height:0px;">
        <div class="container">


        </div>
    </div>
    <div class="main main-raised">
        <div class="section section-basic">
            
	        <div class="container">
                <!-- Tabs with icons on Card -->
						<div class="card card-nav-tabs">
							<div class="header header-primary">
								<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
								<div class="nav-tabs-navigation">
									<div class="nav-tabs-wrapper">
										<ul class="nav nav-tabs" data-tabs="tabs">
											<li class="active">
												<a href="#chatroom" data-toggle="tab">
													<i class="material-icons">chat</i>
													論證
												</a>
											</li>
											<li>
												<a href="#note" data-toggle="tab">
													<i class="material-icons">note_add</i>
													筆記
												</a>
											</li>
											<li>
												<a href="#search" data-toggle="tab">
													<i class="material-icons">search</i>
													搜尋資料
												</a>

											</li>
                                            
										</ul>
									</div>
								</div>
							</div>
							<div class="content">
								<div class="tab-content text-center">
									<div class="tab-pane active" id="chatroom">
										<div class="title">  
                                            <h4 style="text-align: left;">
                                              <%=title%><%=room%>/使用者名稱：<%=UserName%><br>      
                                            </h4>
                                        </div>
                                        <div>
                                            <form action="">
                                              <input id="m" autocomplete="off" /><button>Send</button>
                                            </form>
                                            <ul id="mess_bar"></ul>

                                        </div>
                                    </div>
									<div class="tab-pane" id="note">
                                       <div id="noteform">
                                            <input id="m2" autocomplete="off" /><button onclick="addnote();">Send</button>
                                       </div>
                                       <ul id="note_bar"></ul>
						            </div>
									<div class="tab-pane" id="search">
										<p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>

                                    </div>
                                    
								</div>
							</div>
						</div>
<!-- End Tabs with icons on Card -->
                
	        </div>
        </div>
    </div>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

  var socket = io();
  var room_ID = '<%=room%>'
  var UserName = '<%=UserName%>'
  $('form').submit(function(){
    SendActionToSql($('#m').val(),'1');
    socket.emit('Push_message', UserName+': '+$('#m').val(),room_ID);
    $('#m').val('');
    return false;
  });

  socket.on(room_ID+'_upload_message', function(msg){
    $('#mess_bar').prepend($('<li>').text(msg));
  });

  
</script>
<script>
function addnote(){
    var con = $('#m2').val();
    $('#note_bar').prepend($('<li>').text(con));
    SendActionToSql($('#m2').val(),'2');
    $('#m2').val('');


}

  
</script>
<script>
function SendActionToSql(Sentcontent,ad){
    $.post("http://140.115.126.216:3000/argument_post_action_list",
        {
            ad_id:ad,
            t_id:<%=t_id%>,
            content:Sentcontent
        },
        function(data,status){
            console.log(status);
        }
    );
	
}
 
</script>
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js" type="text/javascript"></script>

<script type="text/javascript">

    $().ready(function(){
    // the body of this function is in assets/materiial-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992){
        big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo_mini.checkScrollForParallax);
    }

	});
</script>
</html>
