<!doctype html>
<html lang="en">
<head>
<%- include ../argument/import/basic.html %>
<%- include ../argument/import/templete_css.html %>
</head>

<body class="index-page">
    <header>
     <%- include ../argument/bar/header.html %>   
    </header>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg'); min-height:190px;height:0px;">
            <div class="container">
                error page
            </div>
        </div>

	<div class="main main-raised">
		<div class="section section-basic">
<!--Main contant -->            
	    	<div class="container">
                
				<h2>status: <%=error_id%></h2><br>
				<h3>text  : <%=error_con%></h3>
	    	</div>		
<!--/ Main contant --> 
	    </div>
	 </div>

     <footer>
        <%- include ../argument/bar/footer.html %> 
    </footer>
    </div>

    
</body>
    <%- include ../argument/import/templete_js.html %>

	<script type="text/javascript">

		$().ready(function(){
			// the body of this function is in assets/material-kit.js
			materialKit.initSliders();
            window_width = $(window).width();

            if (window_width >= 992){
                big_image = $('.wrapper > .header');

				$(window).on('scroll', materialKitDemo.checkScrollForParallax);
			}

		});
	</script>
</html>
