<!doctype html>
<html lang="en">

<head>
    <%- include ../argument/import/basic.html %>
    <%- include ../argument/import/templete_css.html %>
</head>

<body class="index-page">
    <header>
     <%- include ../argument/bar/header.html %>   
    </header>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg'); min-height:190px;height:0px;"> </div>
        <div class="main main-raised">
            <div class="section section-basic">
                <!--Main contant -->
                <div id="qusetions" class="container">
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <button class="btn btn-primary" onclick="compute();">compute</button>
                </div>
                <!--/ Main contant -->
            </div>
        </div>
        <footer>
            <%- include ../argument/bar/footer.html %> 
        </footer>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js" type="text/javascript"></script>
<script type="text/javascript">
$().ready(function() {
    // the body of this function is in assets/material-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992) {
        big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo.checkScrollForParallax);
    }

});
</script>
<script type="text/javascript">
function compute() {
	var re = compute_ALL();
	if(re != '-1'){
		
        $.ajax({
        url: './tester/score',
        type: 'PUT',
        data: {
            'stu_id': "<%=t_id%>",
            'scores': re
        },
        success: function(response) {
            add_teacher_re = JSON.parse(response);
            console.log(add_teacher_re);
            alert(add_teacher_re['text'] + ' , ' + add_teacher_re['status'])
            location.href = './alert?error_id=200&error_con=已完成';
        }
    });
	}
}

function compute_ALL() {
    var Radionames = ["optionsRadios_0","optionsRadios_1", "optionsRadios_2", "optionsRadios_3", "optionsRadios_4"];

    result = 0;
    for (var i in Radionames) {
        var scroce = parseInt(compute_Radio(Radionames[i]));
        if (scroce == 0 && document.getElementsByName(Radionames[i]).length) {
            alert(Radionames[i] + '  not input');
            return('-1');

        }
        result += scroce;
    }
    return(result);
}

function compute_Radio(Radioname) {
    var radios = document.getElementsByName(Radioname);
    var scroce = 0;
    for (var i = 0, length = radios.length; i < length; i++) {
        if (radios[i].checked) {
            // do whatever you want with the checked radio
            scroce = radios[i].value;

            // only one radio can be logically checked, don't check the rest
            break;
        }
    }
    return (scroce);
}
</script>
<script type="text/javascript">
$.get("./assessment", {
        "a_id":'<%=a_id%>'

    },
    function(data, status) {
        activity_list = JSON.parse(data);
        console.log(activity_list);
        if(activity_list['return'].length<1){
        	location.href ='./alert?error_id=200&error_con="你的老師尚未幫你安排論證室，請稍候。"';
        }
        for (var g in activity_list['return']) {
            content = activity_list['return'][g]['content'];
            $('#qusetions').append('<div id="q' + g + '" class="col-sm-12"></div>');
            $('#q' + g).append('<div class="title"><h3>Q. ' + content + ' </h3></div>');
            




            var select_list = ["完全同意", "同意", "不同意也不反對", "不同意", "完全不同意"];
            for (var i = 1; i < 6; i++) {
                $('#q' + g).append('<div class=""><label><input type="radio" name="optionsRadios_' + g + '" value="' + (6-i) + '">' + select_list[i-1] + '</label></div>');
            }

        }


    }
);
/*
for (var g = 1; g < 5; g++) {
    $('#qusetions').append('<div id="q' + g + '" class="col-sm-12"></div>');
    $('#q' + g).append('<div class="title"><h3>question ' + g + ' </h3></div>');
    for (var i = 1; i < 6; i++) {
        $('#q' + g).append('<div class="radio"><label><input type="radio" name="optionsRadios_' + g + '" value="' + i + '">' + i + '</label></div>');
    }
}*/
</script>

</html>