<!doctype html>
<html lang="en">

<head>
    <%- include ../argument/import/basic.html %>
<%- include ../argument/import/templete_css.html %>
</head>

<body class="index-page">
    <header>
        <%- include ../argument/bar/header.html %>
    </header>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1>Argument System.</h1>
                            <h3>argument platflom for student.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <div class="title">
                        <h2>為活動建立前測問題</h2>
                    </div>
                    
                    <!--/ Input 1 : User id-->
                    <!--Input 1 : -->
                    <div class="col-sm-8" style="overflow:hidden;padding-bottom:15px;">
                        <h3>1.選擇活動</h3>
                        <select name="Activity_ID" id="Activity_ID" style="width: 100%;"></select>
                    </div>
                    <!--/ Input 1 : -->
                    <!--Input 1 : content-->
                    <div class="col-sm-8" >
                        <h3>2.輸入前測題目</h3>
                        <div class="input-group">
                            <span class="input-group-addon">
                                    <i class="fa fa-comment-o"></i>
                                </span>
                            <div class="form-group label-floating">
                                <label class="control-label">前測題目</label>
                                <input type="text" id="content" name='content' value="例如：一般情況下，你支持台灣的核能繼續擴大發展?" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!-- summit button-->
                    <div class="col-sm-12">
                        <button class="btn btn-primary" onclick="newAssessment();">建立</button>
                    </div>
                    <!--/ summit button-->
                </div>
            </div>
        </div>
        <footer>
            <%- include ../argument/bar/footer.html %>
        </footer>
    </div>
</body>
<%- include ../argument/import/templete_js.html %>

<script type="text/javascript">
$().ready(function() {
    // the body of this function is in assets/material-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992) {
        big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo.checkScrollForParallax);
    }

});
</script>
<script type="text/javascript">
$.get("./activity",
    function(data, status) {
        activity_list = JSON.parse(data);
        console.log(activity_list['text']);
        $('#Activity_ID').append('<optgroup id="y_Activitys" label="你的活動">');

        if (activity_list["return"].length == 0) {
            alert("您還未建立活動，請先建立活動。");
            location.href = "./newactivity";
        }


        for (var i = 0; i < activity_list["return"].length; i++) {
            var a_id = activity_list["return"][i]["avtivity_id"];
            var timeofactivity = activity_list["return"][i]["timeofactivity"].substring(0, 100);
            var topic = activity_list["return"][i]["content"];

            htmltext = '<option style="width:30px;" value="' + a_id + '">'+ (i+1) + '.' + timeofactivity +','+topic.substring(0,50)+'</option>'
            $('#y_Activitys').append(htmltext);
        }
    }
);
</script>
<script type="text/javascript">
function newAssessment() {
    var activity_id = $('#Activity_ID').val();
    var PostData = $("#content").val();
    console.log(activity_id, PostData);

    $.post("./assessment", {
            'a_id': activity_id,
            'con': PostData
        },
        function(data, status) {
            console.log(data);
            alert('done.');
            location.href = './sittingPage';
        }
    );
}
</script>

</html>