<!doctype html>
<html lang="en">

<head>
    <%- include ../argument/import/basic.html %>
    <%- include ../argument/import/templete_css.html %>
    <style>
    .sortable_col {
        border: 4px solid #aaa;
        min-height: 200px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        width: -webkit-fill-available;
    }

    .sortable_col li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
    }

    #sortable_Unseted li {
        background-color: #F44;
    }
    </style>
</head>

<body class="index-page">
    <header>
        <%- include ../argument/bar/header.html %>
    </header>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/img/bg2.jpeg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1>Argument System.</h1>
                            <h3>argument platflom for student.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section section-basic">
                <div class="container">
                    <div class="title">
                        <h2>安排學生至活動聊天室</h2>
                        <label>新做的調整可以復蓋上次設定</label>
                    </div>
                    <!--Input 1 : -->
                    <div class="col-sm-8 ">
                        <div>
                            <h3>1.選擇活動</h3>
                            <select name="Activity_ID" id="Activity_ID"></select>
                        </div>
                        <!--Input 1 : -->
                    </div>
                    <!--/ Input 1 : -->
                    <!--Input 1 : -->
                    <div class="col-sm-12">
                        <h3>2.調整活動學生至聊天室</h3>
                        <button onclick="addsortable();" class="btn btn-primary">
                            <i class="fa fa-plus"></i> 新增聊天室
                        </button>
                        <div id='main-sortable' class="col-sm-12">
                        </div>
                    </div>
                    <!--/ Input 1 : -->
                    <!-- summit button-->
                    <div class="col-sm-12">
                        <button onclick="SendtoRoom();" class="btn btn-primary">確定</button>
                    </div>
                    <!--/ summit button-->
                </div>
            </div>
        </div>
        <footer>
            <%- include ../argument/bar/footer.html %>
        </footer>
    </div>
</body>
<%- include ../argument/import/templete_js.html %>
<script type="text/javascript">
$().ready(function() {
    // the body of this function is in assets/material-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992) {
        big_image = $('.wrapper > .header');

        $(window).on('scroll', materialKitDemo.checkScrollForParallax);
    }

});
</script>
<%- include ../argument/import/jq_offical.html %>

<script>
$(function() {
    $(".connectedSortable").sortable({
        connectWith: ".connectedSortable"
    }).disableSelection();
    $("#main-sortable").append('<div class="col-sm-3"><h3>目前活動學生</h3></span><ul id="sortable_Unseted" class="connectedSortable sortable_col" value="-1"></ul></div>');







});
sortableCount = 0;

function addsortable() {
    var id = 'sortable_' + sortableCount;
    var chatroomName = 'ID.' + (sortableCount + 1) + ' 聊天室';
    $("#main-sortable").append('<div class="col-sm-3"><h3>' + chatroomName + '</h3></span><ul id="' + id + '" class="connectedSortable sortable_col" value="' + sortableCount + '"></ul></div>');
    //$("#"+id).append('<p>room</p>');
    //$("#"+id).append('<li class="ui-state-default">Item A</li>');
    $(".connectedSortable").sortable({
        connectWith: ".connectedSortable"
    }).disableSelection();
    sortableCount += 1;


}
</script>
<script type="text/javascript">
function SendtoRoom() {
    var PostData = '';
    $(".sortable_col", 'body').each(function() {
        var chatroom_id = $(this).attr('value');
        $(".ui-state-default", this).each(function() {
            var u_id = $(this).attr('value');
            if (chatroom_id != '-1') {
                PostData += '[' + chatroom_id + ',' + u_id + '],';
            }
        });

    });
    PostData = '[' + PostData.substring(0, PostData.length - 1) + ']';
    console.log(PostData);
    $.ajax({
        url: './tester/chatroom',
        type: 'PUT',
        data: {
            'Activity_id': $('#Activity_ID').val(),
            'JsonData': PostData
        },
        success: function(response) {
            console.log(response);
            alert('done.');
            location.href = './sittingPage';
        }
    });
}
</script>
<script type="text/javascript">
$.get("./user/subuser",
    function(data, status) {
        user_list = JSON.parse(data);
        console.log(user_list['text']);
        users = user_list['return'];



    }
);
</script>
<script type="text/javascript">
$.get("./activity",
    function(data, status) {
        activity_list = JSON.parse(data);
        if (!activity_list['return'].length) {
            alert("尚未建立活動，請先建立活動。");
            location.href = "./newactivity";
        }

        console.log(activity_list['text']);
        $('#Activity_ID').append('<optgroup id="y_Activitys" label="your Activity">');

        htmltext = '<option value="-1"></option>'
        $('#y_Activitys').append(htmltext);
        for (var i = 0; i < activity_list["return"].length; i++) {
            var a_id = activity_list["return"][i]["avtivity_id"];
            var timeofactivity = activity_list["return"][i]["timeofactivity"].substring(0, 100);
            var topic = activity_list["return"][i]["content"];

            htmltext = '<option style="width:30px;" value="' + a_id + '">' + (i + 1) + '.' + timeofactivity + ',' + topic.substring(0, 50) + '</option>'
            $('#y_Activitys').append(htmltext);
        }
    }
);
$('#Activity_ID').on("change", function() {
    $('.ui-state-default').remove();

    var a_id = this.value;
    $.get("./tester", {
            'a_id': a_id
        },
        function(data, status) {
            Tester_list = JSON.parse(data);
            //console.log(Tester_list['text']);
            if (!Tester_list['return'].length) {
                alert("該活動尚未設定參加活動之學生。");
            }
            for (var i = 0; i < Tester_list["return"].length; i++) {
                var user_id = Tester_list["return"][i]["user_id"];
                var Tester_id = Tester_list["return"][i]["tester_id"];
                var group = Tester_list["return"][i]["group_score"] == '-1' ? "尚未執行前測" : Tester_list["return"][i]["group_score"];

                for (var key in users) {
                    if (users[key]['user_id'] == user_id) {
                        var user_tag = users[key]['name'] + ',' + users[key]['school'] + ' | ' + group;
                        var htmltext = "<li class='ui-state-default' value='" + Tester_id + "'>" + user_tag + "</li>";
                        $('#sortable_Unseted').append(htmltext);
                    };
                }
            }


        });
});
</script>

</html>